.Todo {
  display: flex;
  justify-content: space-between;
}

.todo {
  cursor: pointer;
  word-wrap: break-word;
  max-width: 80%;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-incompleted {
  font-weight: 500;
}
