<div id="books-container">
  <% if @results %>
    <% @results.each do |x| %>
      <section>
        <div class="container py-3 horizontal">
          <div class="card">
            <div class="row inner-card">
              <div class="col-md-2 img-container">
                <img src=<%= x[:img] %>>
              </div>
              <div class="col-md-10 px-3">
                <div class="card-block px-3">
                  <h4 class="card-title"><%= x[:title] %></h4>
                  <h6>by <%= x[:author] %></h6>
                  <p class="card-text"><%= x[:desc] %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>
</div>